<div class="flex flex-col gap-16 lg:gap-40 items-center">
    <section class="mx-auto bg-gray-900  bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 z-10 relative">
            <div class="flex mx-auto justify-center px-5 items-center">
                <a href="/locus_blaster" class="mx-auto">
                    <%= image_tag "locus_icon.png", class:"rounded-t-lg rounded-b-lg w-28 h-28 rounded", alt:"locus blaster icon"%>
                </a>
            </div>
            <h1 class="mb-4 pt-6 text-4xl font-extrabold tracking-tight leading-none  md:text-5xl lg:text-6xl text-white">Locus Blaster</h1>
            <p class="mb-8 text-lg font-normal  lg:text-xl sm:px-16 lg:px-48 text-gray-200">An Arcade Experience For Everybody, An Arcade Experience Like No Other.</p>
           
            <div class=" inline-flex  justify-evenly gap-8">
            <a><%= image_tag "https://cdn-eu.icons8.com/4-KnR6g-MES0hPuopQkZ0A/6de2lDd--kqFx4egzrCQaQ/Group.png", class:"w-10 h-10"%> </a>

            <a><%= image_tag "https://cdn-eu.icons8.com/4-KnR6g-MES0hPuopQkZ0A/N0U21te86kSoeKL0_NALGQ/Group_2.png", class:"w-10 h-10"%></a>

            <a href="https://github.com/danodin69/LocusBlaster" target="_blank"><%= image_tag "https://cdn-eu.icons8.com/4-KnR6g-MES0hPuopQkZ0A/8kOLgUwe1U2e2oQnqkRYXg/Shape.png",class:"w-10 h-10"%></a>
            
            </div>
        </div>
        <div class="bg-gradient-to-b   from-violet-900  to-transparent w-full h-full absolute top-0 left-0 z-0"></div>
    </section>
    <section class="flex-grow overflow-auto pb-64">
        <div class="flex justify-center items-center mx-auto lg:px-48"> 

            
            <div class="text-left p-4">
            <div class="py-6">
     
  


            <a href="#" class="bg-pandablue hover:bg-pandablue text-pandawhite text-sm font-medium mr-2 px-2.5 py-0.5 rounded   border border-pandawhite inline-flex items-center justify-center">version: BETA 2.2</a> 


            <a href="#" class="bg-pandablack hover:bg-pandablue text-pandawhite text-sm font-medium mr-2 px-2.5 py-0.5 rounded   border border-pandawhite inline-flex items-center justify-center">Action</a>  

            <a href="#" class="bg-pandablack hover:bg-pandablue text-pandawhite text-sm font-medium mr-2 px-2.5 py-0.5 rounded   border border-pandawhite inline-flex items-center justify-center">Arcade</a> 

        </div>

            <div class="py-10 flex flex-row justify-between ">

            <p><strong >LOCUS BLASTER [Until Eternity]</strong></p>
         </div>
                <p>
    Enter Into LOCUS, Destroy Enemy spaceships and become THE Space God In this free to play offline Arcade 3D space shooter with a retro vibe.
</p><br>
<div class="py-10">
        <p><strong >AVAILABLE FOR</strong></p>
    </div>
<a href="#" class="bg-pandablack hover:bg-pandablue text-pandawhite text-sm font-medium mr-2 px-2.5 py-0.5 rounded   border border-pandawhite inline-flex items-center justify-center">ANDROID</a>

<a href="#" class="bg-pandablack hover:bg-pandablue text-pandawhite text-sm font-medium mr-2 px-2.5 py-0.5 rounded   border border-pandawhite inline-flex items-center justify-center">WINDOWS</a>

<a href="#" class="bg-pandablack hover:bg-pandablue text-pandawhite text-sm font-medium mr-2 px-2.5 py-0.5 rounded   border border-pandawhite inline-flex items-center justify-center">LINUX</a>
    <div class="py-10">
        <p><strong >GAMEPLAY</strong></p>
    </div>
<p>
    Destroy incoming enemy ships and take down bosses, Live the story of a lonesome but powerful space fighter.
</p>

<p>
   Collect powerups, Increase your focus, Eliminate all invaders on sight, live longer until you become a dead pilot, until you become <s>captain locus</s> <b>Space God</b>
</p>

<br>
    <div class="py-10">
        <p><strong >FEATURES</strong></p>
    </div>
<ul>
    <li><b class="text-lg">Focus Trainer</b>: This game can help you improve your focus and attention span</li><br>
    <li><b class="text-lg">Ranks</b>: Complete objectives and get new rank, the higher your rank the stronger your ship!</li><br>
    <li><b class="text-lg">Music</b>: You can change the music while you play to suit your mood, up to 7 retro and modern tracks included</li><br>
    <li><b class="text-lg">Score System</b>: You get 3 points whenever you successfully blast an enemy ship, it is then added to your high score, can you get more than a high score of 1,000?</li><br>
    <li><b class="text-lg">Health System</b>: Be watchful of your health and don't let enemies pass or hit you</li><br>
    <li><b class="text-lg">Power Ups</b>: You can receive shield power-ups for protection when flying and blasting in order to protect you. There are also <b>CHIPS</b> [for revival after failing], <b>FIX</b> [for fixing your ships' health], <b>CRANK</b> [Increases your bullet damage and spray over a short period of time]</li><br>
    <li><b class="text-lg">Easy Controls</b>: Use a virtual analogue or direction keys [on pc] to control the ship, it automatically shoots as you control for more fluid gameplay. </li>
</ul>

<div class="py-10">
        <p><strong >SCREENSHOTS</strong></p>
    </div>
        



        
<div id="gallery" class="relative w-full" data-carousel="slide">

    <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
         <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <%= image_tag "locus_sc/sc1.png", class:"absolute block max-w-full  rounded-lg md:h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"%>
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
                        <%= image_tag "locus_sc/sc2.png", class:"absolute block max-w-full  rounded-lg md:h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"%>
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                       <%= image_tag "locus_sc/sc3.png", class:"absolute block max-w-full  rounded-lg md:h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"%>
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <%= image_tag "locus_sc/sc4.png", class:"absolute block max-w-full  rounded-lg md:h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"%>
        </div>
        <!-- Item 5 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <%= image_tag "locus_sc/sc5.png", class:"absolute block max-w-full   rounded-lg md:h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"%>
        </div>
    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-800/30 group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-800/30 group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>


    <div class="py-10">
        <p><strong >GET IT NOW</strong></p>

    </div>
     <div class=" inline-flex  justify-evenly gap-20">
            <a><%= image_tag "https://cdn-eu.icons8.com/4-KnR6g-MES0hPuopQkZ0A/6de2lDd--kqFx4egzrCQaQ/Group.png", class:"w-10 h-10"%> </a>
           

            <a><%= image_tag "https://cdn-eu.icons8.com/4-KnR6g-MES0hPuopQkZ0A/N0U21te86kSoeKL0_NALGQ/Group_2.png", class:"w-10 h-10"%></a>

            <a href="https://github.com/danodin69/LocusBlaster" target="_blank"><%= image_tag "https://cdn-eu.icons8.com/4-KnR6g-MES0hPuopQkZ0A/8kOLgUwe1U2e2oQnqkRYXg/Shape.png",class:"w-10 h-10"%></a>
           
            
    </div><br>
     <div class=" inline-flex justify-evenly gap-7">
            <p>PLAYSTORE</P>

            <p>ITCH.IO</P>

            <p>SOURCE CODE</P>
            
    </div>
    <div class="bg-black shadow-inner  shadow-violet-700 rounded-lg p-6 mt-10">
    <div class="py-10">
        <p><strong >DEV NOTE</strong></p>

        <div class=" inline-flex justify-evenly gap-7 py-5">
           

            <p>This game is actively being developed and you can follow its development on my <%= link_to " telegram channel.", "https://t.me/danodin69", class:"underline" %></P>

            
    </div>
    <br>
    <br>

    <a href="https://www.buymeacoffee.com/danodin69" class="inline-flex items-center  px-5 py-3 text-sm font-medium text-center text-white bg-violet-700 rounded-lg  focus:ring-2 focus:outline-none focus:ring-pandawhite">

                <span class="h-8"><%= image_tag "bmc.png", class:" h-8 mr-3"%></span>

                Buy me Cociane - *A Coffee

            </a>
    </div>
            </div>
        </div>
    </section>
</div>
