
<% set_meta_tags title: 'Games Page', description: 'Dan Odin\'s Games ʕ⁠·⁠ᴥ⁠·⁠ʔ.. Locus Blaster | Kingdoms & Cards ' %>
 
<div class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 mx-auto pb-24">
  <div class="max-w-sm bg-pandablack border border-gray-200 rounded-lg shadow">
    <a href="">
      <%= image_tag "locus_icon.png", class:"rounded-t-lg", alt:"locus blaster icon"%>
    </a>
    <div class="p-5">
     <div class="flex items-center justify-between"> <a href="">
        <h5 class="mb-2 text-3xl font-bold tracking-tight text-pandawhite">LOCUS BLASTER</h5>
      </a><a href="" class="bg-pandablack hover:bg-pandablue text-pandawhite text-sm font-medium mr-2 px-2.5 py-0.5 rounded   border border-pandawhite inline-flex items-center justify-center">BETA 2.2</a></div>
      <p class="mb-3 font-normal text-gray-400">Enter Into LOCUS, Destroy Enemy spaceships and become THE Space God In this free to play 3D Arcade space shooter with a retro vibe.</p>
      <div>
     <%= link_to "Learn More", locus_blaster_path, class:"inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-pandablue rounded-lg  focus:ring-2 focus:outline-none focus:ring-pandawhite"%>

      </div>
    </div>
  </div>

  <div class="max-w-sm bg-pandablack border border-gray-200 rounded-lg shadow">
    <a href="">
      <%= image_tag "king_dom.png", class:"rounded-t-lg", alt:"Panda with moon"%>
    </a>
    <div class="p-5">
      <div class="flex items-center justify-between"> <%= link_to "KINGDOMS & CARDS", "", class:"mb-2 text-2xl font-bold tracking-tight text-pandawhite"%> 
      
      <a href="" class="bg-pandablack hover:bg-pandablue text-pandawhite text-sm font-medium mr-2 px-2.5 py-0.5 rounded   border border-pandawhite inline-flex items-center justify-center">PROTOTYPE</a>
      
      </div>

      
      <p class="mb-3 font-normal text-gray-400">Immerse yourself in the ultimate fusion of this card/board game, inspired by the thrilling dynamics of rock-paper-scissors. </p>

      <div>
     <%= link_to "Learn More", kingdoms_and_cards_path, class:"inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-pandablue rounded-lg  focus:ring-2 focus:outline-none focus:ring-pandawhite"%>

      </div>
    </div>
  </div>
</div>