<div class="flex flex-col gap-16 lg:gap-40 items-center">
    <section class="mx-auto  bg-gray-900 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 z-10 relative">
            <div class="flex mx-auto justify-center px-5 items-center">
                <a href="/kingdoms&cards" class="mx-auto">
                    <%= image_tag "king_dom.png", class:"rounded-t-lg rounded-b-lg w-28 h-28 rounded", alt:"locus blaster icon"%>
                </a>
            </div>
            <h1 class="mb-4 pt-6 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-3xl text-white">Kingdoms <br>& Cards<br><span class="text-xl"><h3>[classic]</h3></span></h1>
            <p class="mb-8 text-lg font-normal  lg:text-xl sm:px-16 lg:px-48 text-gray-200">A card game of thrill, skill and luck.</p>
           <div class=" inline-flex  justify-evenly gap-8">
           

            <a href="https://danodin.itch.io/kingdoms-cards" target="_blank"><%= image_tag "https://cdn-eu.icons8.com/4-KnR6g-MES0hPuopQkZ0A/N0U21te86kSoeKL0_NALGQ/Group_2.png", class:"w-10 h-10"%></a>

       
            
            </div>
        </div>
        <div class="bg-gradient-to-b  from-green-900 to-transparent w-full h-full absolute top-0 left-0 z-0"></div>
    </section>
    <section class="flex-grow overflow-auto pb-64">
        <div class="flex justify-center items-center mx-auto lg:px-48"> 
            <div class="text-left p-4">

             <div class="py-6">
     
  


            <a href="#" class="bg-red-500 hover:bg-pandablue text-pandawhite text-sm font-medium mr-2 px-2.5 py-0.5 rounded   border border-pandawhite inline-flex items-center justify-center">Protoype</a> 


            <a href="#" class="bg-pandablack hover:bg-pandablue text-pandawhite text-sm font-medium mr-2 px-2.5 py-0.5 rounded   border border-pandawhite inline-flex items-center justify-center">Strategy</a>  

            <a href="#" class="bg-pandablack hover:bg-pandablue text-pandawhite text-sm font-medium mr-2 px-2.5 py-0.5 rounded   border border-pandawhite inline-flex items-center justify-center">Card Game</a> 

        </div>

            <div class="py-10 flex flex-row justify-between ">

            <p><strong >Kingdoms & Cards [classic]</strong></p>
         </div>
        
    <div class="py-6">
                <p>
    A protoypical version that can also pass off as a classic version of a unique card game that gets everyone on their toes!
</p><br>

<div class="py-10">
        <p><strong >AVAILABLE FOR</strong></p>
    </div>


<a href="#" class="bg-pandablack hover:bg-pandablue text-pandawhite text-sm font-medium mr-2 px-2.5 py-0.5 rounded   border border-pandawhite inline-flex items-center justify-center">WINDOWS</a>

<a href="#" class="bg-pandablack hover:bg-pandablue text-pandawhite text-sm font-medium mr-2 px-2.5 py-0.5 rounded   border border-pandawhite inline-flex items-center justify-center">LINUX</a>
    <div class="py-10">
        <p><strong >GAMEPLAY</strong></p>
    </div>
<p>
    Immerse yourself in the ultimate fusion of this card/board game, inspired by the thrilling dynamics of rock-paper-scissors. Prepare for conquest with three card types, KING, SOLDIER, CITIZEN. Each with their own dice-supported strength.
</p>

<p>
   Strategize wisely, sacrificing cards to secure victory in the final rounds with lady luck on your side you'll be unstoppable. Are you ready to dominate?
</p>

<br>
    <div class="py-10">
        <p><strong >FEATURES</strong></p>
    </div>
<ul>
    <li><b class="text-lg">Hybrid Game Mechanics</b>: This card game is a fusion of rock paper scissors where rock is king, scissors is soldier and paper is citizen. Having taken from the Mechanics of rock paper scissors a fun dynamic and unique card game has been created that can be played by anyone. </li><br>

    <li><b class="text-lg">Strategize or Lean on Luck</b>: How ever you play is up to you, there are no strict rules.</li><br>

    <li><b class="text-lg">Easy To Learn</b>: Having in mind the principles that guides Kingdoms and Cards, You should be able to pick it up by playing it now! </li>
</ul>

<div class="py-10">
        <p><strong >SCREENSHOTS</strong></p>
    </div>
        



        
<div id="gallery" class="relative w-full" data-carousel="slide">

    <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
         <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <%= image_tag "kc_sc/sc1.png", class:"absolute block max-w-full  rounded-lg md:h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"%>
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
                        <%= image_tag "kc_sc/sc2.png", class:"absolute block max-w-full  rounded-lg md:h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"%>
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                       <%= image_tag "kc_sc/sc3.png", class:"absolute block max-w-full  rounded-lg md:h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"%>
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <%= image_tag "kc_sc/sc4.png", class:"absolute block max-w-full  rounded-lg md:h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"%>
        </div>
        <!-- Item 5 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <%= image_tag "kc_sc/sc5.png", class:"absolute block max-w-full   rounded-lg md:h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"%>
        </div>
        <!-- Item 6 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <%= image_tag "kc_sc/sc6.png", class:"absolute block max-w-full   rounded-lg md:h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"%>
        </div>
    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-800/30  group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-800/30 group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4  text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>

    



    <div class="py-10">
        <p><strong >GET IT NOW</strong></p>

    </div>
     <div class=" inline-flex  justify-evenly gap-20">
            

            <a href="https://danodin.itch.io/kingdoms-cards" target="_blank"> <%= image_tag "https://cdn-eu.icons8.com/4-KnR6g-MES0hPuopQkZ0A/N0U21te86kSoeKL0_NALGQ/Group_2.png", class:"w-10 h-10"%></a>

           
           
            
    </div><br>
     <div class=" inline-flex justify-evenly gap-7">
           

            <p>ITCH.IO</P>

            
    </div>
    <div class="bg-black shadow-inner  shadow-green-700 rounded-lg p-6 mt-10">
    <div class="py-10">
        <p><strong >DEV NOTE</strong></p>

        <div class=" inline-flex justify-evenly gap-7">
           

            <p>This game is being developed and is in need of funding thus development might be slow. <%= link_to " Contact me", contact_path, class:"underline" %> for further questions if any.</P>

            

            
    </div>
    <br>
    <br>
    <a href="https://www.buymeacoffee.com/danodin69" class="inline-flex items-center  px-5 py-3 text-sm font-medium text-center text-white bg-green-700 rounded-lg  focus:ring-2 focus:outline-none focus:ring-pandawhite">

                <span class="p-2 h-3"><%= image_tag "bmc.png", class:" h-8 mr-3"%></span>

                Buy me Cociane - *A Coffee

            </a>
    </div>
    </div>
            </div>
        </div>


    </section>
</div>
