<!DOCTYPE html>
<html>
  <head>
    <title>Dan Odin Games</title>
    <%= display_meta_tags(default_meta_tags) %>

    <%= favicon_link_tag asset_path('favicon.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.turbo.min.js"></script>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>

  <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
      var u="https://danodinxyz.matomo.cloud/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src='//cdn.matomo.cloud/danodinxyz.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
        })();
  </script>
    
  </head>

  <body>



    <%= render partial: "shared/navbar"%>

    <%# <div id="sticky-banner" tabindex="-1" class="fixed top-16 left-0 z-50 flex justify-between w-full p-4 border-b bg-gray-700 border-gray-600">
    <div class="flex items-center mx-auto">
        <p class="flex items-center text-sm font-normal  text-gray-400">
         
            <span>Some How You Found This Site While It Is Under Construction, Embarassinnng!! <a href="https://t.me/danodin69" class="inline font-medium text-blue-600 underline dark:text-blue-500 underline-offset-2 decoration-600 dark:decoration-500 decoration-solid hover:no-underline">Follow My Telegram</a></span>
        </p>
    </div> %>
  
</div>
    
    <main class="container  mt-28 m-auto px-5 flex items-center ">
      <%= yield %>
    </main>
    <%= render partial: "shared/footer"%>
  </body>
</html>
